# Lists

In [1]:
l = []
l

[]

In [5]:
l = ['a','b','c','d']
l

['a', 'b', 'c', 'd']

In [6]:
l = ['a',6,9,8]
l

['a', 6, 9, 8]

In [7]:
l2 = list(l)
l2

['a', 6, 9, 8]

In [8]:
marks = [35,45,55,65,89]

In [9]:
marks

[35, 45, 55, 65, 89]

# create a duplicate marks copy() method.

In [10]:
copy_marks = marks.copy()

In [11]:
copy_marks

[35, 45, 55, 65, 89]

In [12]:
list('kumar')

['k', 'u', 'm', 'a', 'r']

In [18]:
list ['kumar']

list['kumar']

In [13]:
# e
list(12345678)

TypeError: 'int' object is not iterable

In [15]:
# convert int to string
list ('12345678')

['1', '2', '3', '4', '5', '6', '7', '8']

In [16]:
list ['12345678']

list['12345678']

# .append

In [8]:
employee = []
employee

[]

In [9]:
employee.append('Radha')

In [26]:
print (employee)

['radha', 'Radha', 'Radha']

In [13]:
employee .append('Ramesh')
employee .append('Mohan')
print (employee)

['Radha', 'Ramesh', 'Mohan']

# index & insert

In [15]:
employee.insert(1,"D'souza")
employee

['Radha', "D'souza", "D'souza", 'Ramesh', 'Mohan']

In [48]:
emp_salary = [15000,16000,17000,18000,19000]
emp_salary

[15000, 16000, 17000, 18000, 19000]

In [50]:
emp_salary.insert(0,12000)
emp_salary

[12000, 18000, 15000, 16000, 17000, 18000, 19000]

In [51]:
emp_salary .insert(3,17500)
emp_salary

[12000, 18000, 15000, 17500, 16000, 17000, 18000, 19000]

In [16]:
# List extended method

employee

['Radha', "D'souza", "D'souza", 'Ramesh', 'Mohan']

In [34]:
len(employee)

8

In [11]:
# Indexing & Slicing
 employee

IndentationError: unexpected indent (2197150636.py, line 2)

In [17]:
employee[1]

"D'souza"

In [19]:
employee[3]

'Ramesh'

In [52]:
emp_salary

[12000, 18000, 15000, 17500, 16000, 17000, 18000, 19000]

In [53]:
# grab index 1 and everything post it
emp_salary[1:]

[18000, 15000, 17500, 16000, 17000, 18000, 19000]

In [55]:
emp_salary[:3]

[12000, 18000, 15000]

In [56]:
emp_salary[0:4]

[12000, 18000, 15000, 17500]

In [57]:
emp_salary[0:2]

[12000, 18000]

In [20]:
employee[1] = 'Remo'
employee

['Radha', 'Remo', "D'souza", 'Ramesh', 'Mohan']

In [44]:
employee[0] = 'Rama'
employee

['Rama', 'Remo', 'Radha', 'Radha', 'Ramesh', 'Mohan', 'Ramesh', 'Mohan']

In [58]:
emp_salary[0] = 80000
emp_salary

[80000, 18000, 15000, 17500, 16000, 17000, 18000, 19000]

In [46]:
 employee[3] = 'Mira'

In [47]:
print(employee)

['Rama', 'Remo', 'Radha', 'Mira', 'Ramesh', 'Mohan', 'Ramesh', 'Mohan']

In [63]:
emp_salary[3] = 3000

In [64]:
print(emp_salary)

[80000, 18000, 15000, 3000, 16000, 17000, 18000, 19000]

In [65]:
# Temporary insert value
emp_salary + [20000]

[80000, 18000, 15000, 3000, 16000, 17000, 18000, 19000, 20000]

In [66]:
#permanent Change value

emp_salary = emp_salary + [202020]

In [67]:
emp_salary

[80000, 18000, 15000, 3000, 16000, 17000, 18000, 19000, 202020]

In [68]:
emp_salary * 2

[80000,
 18000,
 15000,
 3000,
 16000,
 17000,
 18000,
 19000,
 202020,
 80000,
 18000,
 15000,
 3000,
 16000,
 17000,
 18000,
 19000,
 202020]

In [69]:
print ('+' * 90)
print ('                       Data Trained                      ')
print ('+' * 90)

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                       Data Trained
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

# Advanced List

In [ ]:
# count

In [1]:
marks = [25,52,10,10,54,54,65,65,88,88,89]
marks.count(88)

2

In [ ]:
#index

In [2]:
marks

[25, 52, 10, 10, 54, 54, 65, 65, 88, 88, 89]

In [3]:
marks.index(10)

2

In [ ]:
# Extend

In [21]:
employee

['Radha', 'Remo', "D'souza", 'Ramesh', 'Mohan']

In [22]:
employee.append(['Krishna','Gopi'])

In [23]:
employee

['Radha', 'Remo', "D'souza", 'Ramesh', 'Mohan', ['Krishna', 'Gopi']]

In [24]:
 employee = ['Radha','Mohan','Ram','Siya']

In [25]:
employee

['Radha', 'Mohan', 'Ram', 'Siya']

In [26]:
employee.extend(['Rawan','Vibishan'])
print(employee)

['Radha', 'Mohan', 'Ram', 'Siya', 'Rawan', 'Vibishan']

In [27]:
emp_salary = [1000,2000,3000,4000]

In [29]:
emp_salary.extend([5000,6000])
print(emp_salary)

[1000, 2000, 3000, 4000, 5000, 6000, 5000, 6000]

# Pop (delet)

In [30]:
emp_salary.pop()

6000

In [31]:
emp_salary

[1000, 2000, 3000, 4000, 5000, 6000, 5000]

In [32]:
emp_salary.pop(6)

5000

In [33]:
emp_salary

[1000, 2000, 3000, 4000, 5000, 6000]

In [ ]:
# Remove

In [35]:
emp_salary.remove(3000)

In [36]:
emp_salary

[1000, 2000, 4000, 5000, 6000]

# Reverse

In [37]:
lst = [1,2,3,4,5,6,7,8,9]

In [38]:
lst.reverse()

In [39]:
lst

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# Sort

In [41]:
marks = [25,26,27,35,36,37,39,11,5,1]
marks

[25, 26, 27, 35, 36, 37, 39, 11, 5, 1]

In [43]:
marks.sort()
print(marks)

[1, 5, 11, 25, 26, 27, 35, 36, 37, 39]

In [44]:
marks.sort(reverse=True)
print(marks)

[39, 37, 36, 35, 27, 26, 25, 11, 5, 1]