In [13]:
sampledict = {
    "countery":{
        "indian team": {
        "Name":["Rohit","Rahul","Mahi","Bumrah","Sachin"],
            "Runs":{
                "Rohit" : 55,
                "Mahi" : 99,
                "Sachin":85
            }
        }
    }
}

In [11]:
print(sampledict["countery"]["indian team"]["Runs"]["Sachin"])

85

In [14]:
print(sampledict["countery"]["indian team"]["Runs"]["Mahi"])

99

In [18]:
sample_dict = {"a":100, "b":2700,"c":500}

if 2700 in sample_dict.values():
    print("2700 it is in dicion")
else:
        print("it is not in dicton")

2700 it is in dicion

In [19]:
sample_dict = {"a":100, "b":2500,"c":500}

if 2700 in sample_dict.values():
    print("2700 it is in dicion")
else:
        print("it is not in dicton")

it is not in dicton

In [3]:
sample_dict = {
    "countery":
              {
                  "cricket team":
                  {
              "name":["msd","virat","bhaji","sachin","dravid","azahar"],
              "runs":
                      {
                          "msd":77,
                          "virat":88,
                          "sachin":99,
                          "azahar":55
                      }
                  }
              }
}

In [7]:
print(sample_dict["countery"]["cricket team"]["runs"]["msd"])

77

In [10]:
print(sample_dict["countery"]["cricket team"]["runs"]["virat"])

88

In [15]:
print(sample_dict["countery"]["cricket team"]["runs"]["sachin"])

99

In [16]:
print(sample_dict["countery"]["cricket team"]["runs"])

{'msd': 77, 'virat': 88, 'sachin': 99, 'azahar': 55}

In [17]:
print(sample_dict["countery"])

{'cricket team': {'name': ['msd', 'virat', 'bhaji', 'sachin', 'dravid', 'azahar'], 'runs': {'msd': 77, 'virat': 88, 'sachin': 99, 'azahar': 55}}}

In [18]:
print(sample_dict)

{'countery': {'cricket team': {'name': ['msd', 'virat', 'bhaji', 'sachin', 'dravid', 'azahar'], 'runs': {'msd': 77, 'virat': 88, 'sachin': 99, 'azahar': 55}}}}

In [27]:
#write a prog. to add a list of elements into a given set.
sample_set = {"ram","shyam","mohan","hari"}
sample_list = {"john","mon","rahim"}

In [28]:
print(sample_set)

{'ram', 'hari', 'mohan', 'shyam'}

In [29]:
print(sample_list)

{'rahim', 'mon', 'john'}

In [30]:
sample_set.update(sample_list)
print(sample_set)

{'mohan', 'hari', 'ram', 'rahim', 'john', 'mon', 'shyam'}

In [32]:
sample_list.update(sample_set)
print(sample_list)

{'mohan', 'john', 'ram', 'mon', 'hari', 'rahim', 'shyam'}

In [33]:
# write a paython program to return a new set of identical item from two set.

set1 ={10,20,30,40,50,60,70}
set2 = {80,90,40,50,70,30,10}

In [34]:
print(set1)

{50, 20, 70, 40, 10, 60, 30}

In [35]:
print(set2)

{80, 50, 90, 70, 40, 10, 30}

In [36]:
print(set1.intersection(set2))

{70, 40, 10, 50, 30}

In [37]:
print(set1.union(set2))

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [38]:
# given a list of numbers write a prog. to turn every item into its square.
number = [1,2,3,4,5,6,7,8]

In [43]:
sqr_num = []
for x in number:
    sqr_num.append(x*x)
    
print(sqr_num)

[1, 4, 9, 16, 25, 36, 49, 64]

In [45]:
sqr_num = []
for x in number:
    sqr_num.append(x*x)
    print(sqr_num)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]

In [46]:
# write a prog. to add item 3000 in the following payathon list.
list1 = [10,20,[400,500,[1000,2000],100000],30,40]

In [47]:
print(list1)

[10, 20, [400, 500, [1000, 2000], 100000], 30, 40]

In [49]:
list1[0]

10

In [51]:
list1[1]

20

In [53]:
list1[2][2].append(3000)

In [54]:
print(list1)

[10, 20, [400, 500, [1000, 2000, 3000], 100000], 30, 40]

In [57]:
list1.append(50)

In [58]:
print(list1)

[10, 20, [400, 500, [1000, 2000, 3000], 100000], 30, 40, 50]