In [35]:
# my dictionary
my_dict = {'emp_id1':[11,12,13,14,15],'name':['Rao','Rai','Pradhan','Sinha','Singh'],'Salary':[15000,16000,17000,14000,18000]}
my_dict

{'emp_id1': [11, 12, 13, 14, 15],
 'name': ['Rao', 'Rai', 'Pradhan', 'Sinha', 'Singh'],
 'Salary': [15000, 16000, 17000, 14000, 18000]}

In [18]:
my_dict['name'][1].upper()

'RAI'

In [25]:
my_dict['Salary']

[15000, 16000, 17000, 14000, 18000]

In [27]:
my_dict['Salary'][1]=my_dict['Salary'][1] + 5000
my_dict

{'emp_id1': [11, 12, 13, 14, 15],
 'name': ['Rao', 'Rai', 'Pradhan', 'Sinha', 'Singh'],
 'Salary': [15000, 26000, 17000, 14000, 18000]}

In [38]:
my_dict['Salary']

[15000, 16000, 17000, 14000, 18000]

In [40]:
my_dict['Salary'][4] += 3000
my_dict['Salary']

[15000, 16000, 17000, 14000, 24000]

In [41]:
my_dict['Dept'] = ['SI','Acc']
my_dict

{'emp_id1': [11, 12, 13, 14, 15],
 'name': ['Rao', 'Rai', 'Pradhan', 'Sinha', 'Singh'],
 'Salary': [15000, 16000, 17000, 14000, 24000],
 'Dept': ['SI', 'Acc']}

In [59]:
my_dict.update({'name':'Rao','Rai','Pradhan','Kimar'})
my_dict

SyntaxError: ':' expected after dictionary key (1626768784.py, line 1)

In [48]:
my_dict['name']

'Kumar'

In [51]:
my_dict

{'emp_id1': [11, 12, 13, 14, 15],
 'name': 'Kumar',
 'Salary': [15000, 16000, 17000, 14000, 24000],
 'Dept': ['SI', 'Acc']}

In [53]:
my_dict.keys()

dict_keys(['emp_id1', 'name', 'Salary', 'Dept'])

In [54]:
my_dict.values()

dict_values([[11, 12, 13, 14, 15], 'Kumar', [15000, 16000, 17000, 14000, 24000], ['SI', 'Acc']])

In [56]:
my_dict.items()

dict_items([('emp_id1', [11, 12, 13, 14, 15]), ('name', 'Kumar'), ('Salary', [15000, 16000, 17000, 14000, 24000]), ('Dept', ['SI', 'Acc'])])