In [3]:
location = ['jsr', 'ranchi','patna']
print (location)

['jsr', 'ranchi', 'patna']

In [9]:
location = ['jsr', 'ranchi','patna','mango']
print (location)

['jsr', 'ranchi', 'patna', 'mango']

In [10]:
location = ['jsr','ranchi','dhanbad','bokaro','goda']
for city in location:
    print (city)

jsr
ranchi
dhanbad
bokaro
goda

In [11]:
location = ['jsr','ranchi','dhanbad','bokaro','goda']
for town in location:
    print (town)

jsr
ranchi
dhanbad
bokaro
goda

In [17]:
salary = [1000,2000,3000,4000,50000,45000]
for val in salary:
    if val > 20000:
        print (val)

50000
45000

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [13]:
student_score = [30,40,50,88,65,99,55,65,10,71,69,49,30]

In [14]:
print(student_score)

[30, 40, 50, 88, 65, 99, 55, 65, 10, 71, 69, 49, 30]

In [1]:
for marks in student_score:
    if marks >= 70:
        print(marks , 'distinsction' )
    else:
        print(marks , 'first class')
        
    elif marks >= 60:
        print(marks , 'AA')

SyntaxError: invalid syntax (713197409.py, line 7)